
 <div class="bg-image h-100" style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/tables/img2.jpg');">
<form [formGroup]="savepro" (ngSubmit)="saveProduct()">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4 p-3">
      <div class="col">
        <div class="form-outline">
          <input type="number"  class="form-control" formControlName="productID" />
          <label class="form-label" >Product ID</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text"  class="form-control" formControlName="productName"/>
          <label class="form-label" >Product Name</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline mb-4">
            <input type="number"  class="form-control" formControlName="productPrice"/>
            <label class="form-label" >Product Price</label>
          </div>
      </div>
    </div>
  
    <!-- Email input -->
    
  
   
    <!-- Submit button -->
    
    <button type="submit" class="btn btn-primary p-3 btn-block mb-4 ">Sign up</button>
 
    
  </form>
</div>