<nav class="navbar navbar-light bg-light" >
    <form class="container-fluid justify-content-start" >
      <button class="btn btn-outline-success me-2" type="button" routerLink="productadd" align="center">Register Product</button>
      <button class="btn btn-outline-success me-2" type="button" routerLink="productlist" align="center">View Product</button>
      <button class="btn btn-outline-success me-2" type="button" routerLink="supplieradd" align="center">Register Supplier!</button>
    </form>
  </nav>
<router-outlet></router-outlet>
